.taskArea {
 width:99%;
 left:.5%;
 position:absolute;
 margin-top:.5vw;
 margin-bottom:.5vw;
 background:linear-gradient(to top left, #f0fcfc, #faffff);
 box-shadow:0 2px 5px rgba(0,0,0,0.3);
 box-sizing:border-box
}

.field {
 margin-top:60px;
 margin-left:60px;
 margin-right:60px
}
.taskArea {
 padding-bottom:50px
}
 .field {
  margin-top:40px;
  margin-left:40px;
  margin-right:40px
 }
 div.header h1 {
/*   font-size:34px; */
  margin-bottom:16px
 }

 .header {
  padding-top:16px;
  padding-bottom:24px;
  padding-left:32px;
  padding-right:32px
 }
 .field {
  margin-top:32px;
  margin-left:32px;
  margin-right:32px
 }
 .taskArea {
  padding-bottom:44px
 }
 div.header h1 {
  font-size:26px
 }
 .description {
  font-size:18px;
  font-weight:300
 }
.absoluteBlock {
 position:absolute
}
.clickable {
 position:absolute;
 background-color:#e2edee;
 background-size:100%;
 background-position:center center;
 background-repeat:no-repeat;
 overflow:hidden
}
.clickable:hover {
 background-color:#F5FBFB;
 box-shadow:0 1px 3px rgba(0,0,0,0.25)
}
.inner {
 text-align:center;
 vertical-align:middle;
 display:table-cell;
 font-family:"Open Sans";
 font-weight:600
}
.clickable.selected,.clickable.selected:hover,.clickable.clickable-selected,.clickable.clickable-selected:hover {
 background-color:#b6ecf2;
 box-shadow:0 1px 3px rgba(0,0,0,0.25)
}
.variant.selected {
 background-color:#d3f3f6;
 box-shadow:0 1px 3px rgba(0,0,0,0.15)
}
.variant.clickable-wrong,.variant.clickable-wrong:hover {
 background-color:#f7dfe3
}
.variant.clickable-right,.variant.clickable-right.selected,.variant.clickable-right:hover {
 background-color:#d9f7c3;
 z-index:1
}
div.button p {
 font-weight:300;
 color:#ffffff;
 margin:9px 0 0 0
}

.right-wrong-message {
 position:absolute;
 min-height:50px;
 background:#ffffff;
 text-align:left;
 left:170px;
 box-shadow:0 3px 7px rgba(0,0,0,0.3)
}
.wrongText,.rightText {
 display:table-cell;
 text-align:left;
 padding-left:20px;
 vertical-align:middle
}
.reload {
 width:24px;
 height:30px;
 top:30px;
 right:40px;
 background-image:url(img/reload.png);
 background-size:100%;
 background-repeat:no-repeat;
 position:absolute;
 cursor:pointer;
 z-index:9999
}
.reload:hover {
 background-image:url(img/reload_hover.png)
}
.square-bubble {
 box-shadow:0 0 10px rgba(0,0,0,0.5);
 position:absolute;
 background-color:#ffffff;
 padding:10px 25px;
 z-index:2
}
.innerFigure {
 border:#ffffff 6px solid;
 border-top-width:10px;
 border-left-color:transparent;
 border-right-color:transparent;
 border-bottom-color:transparent;
 width:0;
 height:0;
 position:absolute;
 left:50%;
 bottom:-15px;
 margin-left:-6px
}
.innerFigureTop {
 border:transparent 6px solid;
 border-bottom-width:10px;
 border-bottom-color:#ffffff;
 width:0;
 height:0;
 position:absolute;
 left:50%;
 top:-15px;
 margin-left:-6px
}
.round-bubble {
 position:absolute;
 background-color:#ffffff;
 padding:2px 10px;
 z-index:2
}
.bubble-left {
 top:0;
 background-image:url(img/bubble_left.png);
 background-size:100% auto;
 width:15px;
 height:100%;
 position:absolute;
 left:-15px
}
.bubble-right {
 top:0;
 background-image:url(img/bubble_right.png);
 background-size:100% auto;
 width:15px;
 height:100%;
 position:absolute;
 right:-15px
}
.bubble-top {
 left:0;
 background-image:url(img/bubble_top.png);
 background-size:auto 100%;
 width:100%;
 height:15px;
 position:absolute;
 top:-15px
}
.bubble-top-right {
 right:-15px;
 background-image:url(img/bubble_top_right.png);
 background-size:100%;
 width:15px;
 height:15px;
 position:absolute;
 top:-15px
}
.bubble-top-left {
 left:-15px;
 background-image:url(img/bubble_top_left.png);
 background-size:100%;
 width:15px;
 height:15px;
 position:absolute;
 top:-15px
}
.bubble-bottom-right {
 right:-15px;
 background-image:url(img/bubble_bottom_right.png);
 background-size:100%;
 width:15px;
 height:15px;
 position:absolute;
 bottom:-15px
}
.bubble-bottom-left {
 left:-15px;
 background-image:url(img/bubble_bottom_left.png);
 background-size:100%;
 width:15px;
 height:15px;
 position:absolute;
 bottom:-15px
}
.bubble-bottom {
 left:0;
 background-image:url(img/bubble_bottom.png);
 background-size:auto 100%;
 width:100%;
 height:15px;
 position:absolute;
 bottom:-15px
}
.bubble-bottom-tail {
 left:40%;
 background-image:url(img/bubble_tail.png);
 background-size:auto 100%;
 width:50px;
 margin-left:-25px;
 height:75px;
 position:absolute;
 bottom:-75px
}
.final-overlay-all {
 background:#befae4;
 background:-moz-linear-gradient(-45deg, #befae4 0, #ddfcc7 100%);
 background:-webkit-linear-gradient(-45deg, #befae4 0, #ddfcc7 100%);
 background:linear-gradient(135deg, #befae4 0, #ddfcc7 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#befae4', endColorstr='#ddfcc7', GradientType=1)
}
.final-overlay .clickable {
 opacity:.25
}
.final-overlay .clickable.clickable-right {
 background-color:rgba(0,0,0,0.08);
 opacity:1
}
.draggable,.droppable,sortable {
 width:140px;
 height:40px
}
.draggable,.droppable {
 position:absolute !important
}
.draggable,.sortable {
 box-shadow:0 0 3px rgba(0,0,0,0.3);
 z-index:1;
 background-color:#ffffff;
 background-repeat:no-repeat;
 cursor:pointer
}
.taskArea:not(.final-overlay) .draggable:hover,.taskArea:not(.final-overlay) .sortable:hover {
 box-shadow:0 0 6px rgba(0,0,0,0.4)
}
.sortableblock .sortable div {
 float:none
}
.sortable div,.draggable div,.defaultPlace div {
 text-align:center;
 vertical-align:middle;
 display:table-cell;
 width:140px;
 height:40px
}
.draggable.active {
 box-shadow:0 0 6px rgba(0,0,0,0.5)
}
.draggable.in-the-droppable {
 border:1px solid #e6e7e8
}
.draggable.draggable-wrong,.draggable.draggable-wrong:hover,.sortable.draggable-wrong,.sortable.draggable-wrong:hover {
 background-color:#f7dfe3
}
.draggable.draggable-right,.draggable.draggable-right:hover,.sortable.draggable.draggable-right,.sortable.draggable.draggable-right:hover {
 background-color:#d9f7c3
}
.droppable {
 background-color:#E0EAEA;
 box-shadow:inset 0 1px 4px rgba(0,0,0,0.3)
}
.droppable-over {
 background-color:#B4DCDC
}
.droppable-over~.droppable-over {
 background-color:#E0EAEA
}
.defaultPlace {
 position:absolute;
 box-shadow:0 0 3px rgba(0,0,0,0.3);
 z-index:1;
 background-color:#ffffff
}
.defaultPlace1 {
 margin-top:3px
}
.defaultPlace2 {
 margin-top:6px
}
.field {
 position:relative
}
.footer {
 height:50px;
 position:relative
}
.steps {
 display:block;
 margin:0
}

.check-message {
 z-index:2;
 position:absolute;
 background-color:#ffffff;
 box-shadow:0 2px 5px rgba(0,0,0,0.3)
}
.button.check-message-button {
 position:relative;
 margin:10px;
 float:right
}
.check-message-content {
 margin:15px;
 margin-bottom:30px
}
.check-message-overlay {
 z-index:2;
 width:100%;
 height:100%;
 position:absolute
}
.hint-link {
 cursor:pointer
}
.innerFigure-top {
 border:transparent 6px solid;
 border-bottom-width:10px;
 border-bottom-color:#ffffff;
 width:0;
 height:0;
 position:absolute;
 left:50%;
 top:-15px;
 margin-left:-6px
}
.innerFigure-top-right {
 border:transparent 6px solid;
 border-left-width:10px;
 border-left-color:#ffffff;
 width:0;
 height:0;
 position:absolute;
 right:-15px;
 top:5px;
 margin-left:-6px
}
.hint-container {
 position:absolute
}
.hint-container a {
 cursor:pointer
}
.modal-window {
 position:absolute;
 width:80vw;
 margin-left:-40vw;
 height:45vw;
 margin-top:-22.5vw;
 top:50%;
 left:50%;
 z-index:1000
}
.modal-window .close {
 position:absolute;
 background-image:url(img/close-elevated_2x.png);
 background-size:50%;
 background-position:center center;
 background-color:#00a2ab;
 width:40px;
 height:40px;
 border-radius:22px;
 right:-50px;
 background-repeat:no-repeat
}
.modal-window .close:hover {
 background-color:#00d5e0
}
.modal-window-overlay {
 position:absolute;
 width:100%;
 height:100%;
 z-index:999;
 background-color:#ffffff;
 opacity:.8
}
.youtube-video {
 width:100%;
 height:100%
}
.select-wrap {
 position:absolute
}
.sortableblock {
 position:absolute
}
.sortableblock div {
 float:left
}
.radiobutton,.checkbox,.testblock {
 position:absolute
}
.testblock-number,.testblock-question {
 display:inline-block
}
.testblock-question {
 font-family:"Conqueror Sans";
 font-size:23px;
 display:inline-block;
 padding:5px 0
}
.testblock-number {
 position:absolute;
 left:30px;
 font-size:19px;
 font-family:"Conqueror Sans";
 font-weight:bold;
 padding:5px 0
}
.testblock-question,.testblock-body {
 margin-left:64px;
 margin-right:44px
}
.testblock-body label {
 margin-top:5px
}
.testblock-wrong {
 background-color:#F7DFE3
}
.testblock-right {
 background-color:#D9F7C3
}
@keyframes hover-color {
 from {
  border-color:#afb7b7
 }
 to {
  border-color:#00d5e0
 }
}
.magic-radio,.magic-checkbox {
 position:absolute;
 display:none
}
.magic-radio[disabled],.magic-checkbox[disabled] {
 cursor:not-allowed
}
.magic-radio+label,.magic-checkbox+label {
 position:relative;
 display:block;
 padding-left:30px;
 cursor:pointer;
 vertical-align:middle
}
.magic-radio+label:hover:before,.magic-checkbox+label:hover:before {
 animation-duration:.4s;
 animation-fill-mode:both;
 animation-name:hover-color
}
.magic-radio+label:before,.magic-checkbox+label:before {
 position:absolute;
 top:0;
 left:0;
 display:inline-block;
 width:20px;
 height:20px;
 content:'';
 border:1px solid #afb7b7
}
.magic-radio+label:after,.magic-checkbox+label:after {
 position:absolute;
 display:none;
 content:''
}
.magic-radio[disabled]+label,.magic-checkbox[disabled]+label {
 cursor:not-allowed;
 color:#e4e4e4
}
.magic-radio[disabled]+label:hover,.magic-radio[disabled]+label:before,.magic-radio[disabled]+label:after,.magic-checkbox[disabled]+label:hover,.magic-checkbox[disabled]+label:before,.magic-checkbox[disabled]+label:after {
 cursor:not-allowed
}
.magic-radio[disabled]+label:hover:before,.magic-checkbox[disabled]+label:hover:before {
 border:1px solid #e4e4e4;
 animation-name:none
}
.magic-radio[disabled]+label:before,.magic-checkbox[disabled]+label:before {
 border-color:#e4e4e4
}
.magic-radio:checked+label:after,.magic-checkbox:checked+label:after {
 display:block
}
.magic-radio+label:before {
 border-radius:50%
}
.magic-radio+label:after {
 top:6px;
 left:6px;
 width:8px;
 height:8px;
 border-radius:50%;
 background:#000000
}
.magic-radio:checked+label.error:before {
 border:1px solid #D40000
}
.magic-radio:checked+label.error.completed:before {
 border:1px solid #afb7b7
}
.magic-radio:checked+label.error:after {
 background:#D40000
}
.magic-radio:checked+label.correct:before {
 border:1px solid #008000
}
label.error:before {
 border:1px solid #D40000
}
label.correct:before {
 border:1px solid #008000
}
.magic-radio:checked[disabled]+label:before {
 border:1px solid #c9e2f9
}
.magic-radio:checked[disabled]+label:after {
 background:#c9e2f9
}
.magic-checkbox+label:before {
 border-radius:3px
}
.magic-checkbox+label::after {
 top:1px;
 left:7px;
 box-sizing:border-box;
 width:7px;
 height:14px;
 transform:rotate(30deg) skewY(10deg);
 border-width:2px;
 border-style:solid;
 border-color:#000000;
 border-top:0;
 border-left:0
}
.magic-checkbox:checked+label:before {
 background:#fff
}
.magic-checkbox:checked+label.error:before {
 border:1px solid #D40000
}
.magic-checkbox:checked+label.error.completed:before {
 border:1px solid #afb7b7
}
.magic-checkbox:checked+label.error:after {
 border-color:#D40000
}
.magic-checkbox:checked+label.correct:before {
 border:1px solid #008000
}
.magic-checkbox:checked[disabled]+label:before {
 border:#c9e2f9;
 background:#c9e2f9
}
label:hover {
 color:#00d5e0
}
.magic-radio+label:hover:before,.magic-checkbox+label:hover:before {
 border-color:#00d5e0 !important
}
.magic-radio+label:hover:after,.magic-checkbox+label:hover:after {
 border-color:#00d5e0 !important
}
.magic-radio+label:hover:after {
 background-color:#00d5e0 !important
}
.magic-radio+label:after {
 width:9px !important;
 height:9px !important
}
.textEditBox {
 position:absolute;
 padding:0;
 text-align:center;
 box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
 border:1px solid #e7eaea
}
.dropdown-right select,.textEditBox.textarea-right {
 background-color:#d9f7c3
}
.dropdown-wrong select,.textEditBox.textarea-wrong {
 background-color:#f7dfe3
}
